@import "tailwindcss";

a {
    @apply text-gray-500 hover:text-gray-800 cursor-pointer;
}
.btn {
    @apply py-2 px-4 cursor-pointer font-semibold rounded-full shadow-xl transition duration-300 ease-in-out;
}
.btn-submit {
    @apply bg-green-600 text-white hover:bg-green-700;
}
.btn-create {
    @apply bg-gray-400 text-white hover:bg-green-500;
}
.btn-tab {
    @apply cursor-pointer text-center py-2 font-semibold text-gray-500;
}
.btn-tab-active {
    @apply  text-gray-600 border-b-2 border-gray-600;
}
.text-title {
    @apply text-2xl font-semibold text-gray-900;
}
.text-sub-title {
    @apply text-gray-900 mt-2;
}
.text-published {
    @apply text-gray-400 mt-2;
}
.read-more {
    @apply inline-block mt-4 text-blue-400 hover:underline font-medium;
}
input {
    @apply w-full px-3 py-2 border border-gray-400 rounded-xl focus:ring-1 focus:ring-gray-500;
}
.form-alert {
    @apply p-4 mb-4 text-sm rounded-lg shadow-2xl border-1;
}
.form-alert-error {
    @apply bg-red-50 text-red-800 border-red-200;
}
.form-alert-success {
    @apply bg-green-100 text-green-800 border-green-200;
}
.form-alert-info {
    @apply bg-blue-100 border-blue-500 text-blue-900;
}
form label {
    @apply block text-sm font-medium text-gray-700 mb-2;
}
.form-option {
    @apply text-center text-sm mt-4;
}
.form-option button {
    @apply text-gray-600 hover:underline cursor-pointer font-semibold;
}
@keyframes dots {
    0% { content: "."; }
    20% { content: ".."; }
    40% { content: "..."; }
    60% { content: "...."; }
    80% { content: "....."; }
}
.dots::after {
    content: "";
    animation: dots 1.5s infinite steps(1);
}