/* 

What 1rem will be at that viewport

vw = (pixels / viewport width in pixels) * 100

*/
:root {
    --base-font-size: 16;
    --base-viewport-width: 1536;
}

/* Where there are no media queries */
html {
    font-size: 1.5vw;
    font-family: Helvetica, Arial, sans-serif;
}

/* 1536px and above: 1vw */
@media (min-width: 1440px) {
    html {
        font-size: calc((var(--base-font-size) / var(--base-viewport-width)) * 100vw) !important;
    }
}

@media only screen and (min-width: 1029px) and (max-width: 1439px) {
    html {
        font-size: calc((var(--base-font-size) / 1439) * 100vw) !important;
    }
}


/* Close to 1024px (between 1020px and 1028px) */
@media only screen and (min-width: 1020px) and (max-width: 1028px) {
    html {
        font-size: calc((var(--base-font-size) / 1028) * 100vw) !important;
    }
}

/* Other Tablets i.e. iPad Pro and Surface Pro 7  */
@media only screen and (min-width: 900px) and (max-width: 960px) {
    html {
        font-size: calc((var(--base-font-size) / 960) * 100vw) !important;
    }
}

/* Common iPads i.e. Mini and Air */
@media only screen and (min-width: 768px) and (max-width: 900px) {
    html {
        font-size: calc((var(--base-font-size) / 900) * 100vw) !important;
    }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
    html {
        font-size: calc((var(--base-font-size) / 768) * 100vw) !important;
    }
}


/* All common phones i.e. iPhone 12, 14, 15 pro and pro-max */
@media only screen and (min-width: 430px) and (max-width: 500px) {
    html {
        font-size: calc((var(--base-font-size) / 500) * 100vw) !important;
    }
}

/* All phones upto iPhone 14 Pro and Below */
@media (max-width: 430px) {
    html {
        font-size: calc((var(--base-font-size) / 430) * 100vw) !important;
    }
}